
.pagination {
    display: flex;
    justify-content: center;
}

.pagination li {
    display: inline;
    margin-right: 5px;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.centered-div {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-div-user-info {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    

.side-pane {
    width: 300px;
    padding: 20px;
    margin-left: -20px;
}

.textarea {
    width: 100%;
    height: 200px; 
    resize: vertical; 
    padding: 10px;
    text-align: initial;
}

.commmenttextarea {
    width: 25%;
    height: 50px; 
    resize: vertical; 
    padding: 10px;
    text-align: initial;
}

.post-container {
    position: relative;
}

.image-container {
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
}

.post-image {
    max-width: 400px;  
    max-height: 200px; 
    width: auto;
    height: auto;
    object-fit: cover;
    border: 2px solid #333;  /* Set the border width and color */
}